    a:hover {
        color: red;
        font-weight: bold;
    }
    
    h4 {
        color: red;
    }
    
    h3,
    #title:hover {
        font-weight: lighter;
        color: black;
    }
    
    div #author:hover {
        color: red;
        font-weight: bold;
    }